*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
	background-color: #fff3e6 !important;
}

.bootbut{
	width: 100%;
	margin: 0 auto;
}

h1{
	text-align: center;
}

.inactive{
	display: none;
	transition: display 0.5s;
}


.done{
	text-decoration: line-through;
	text-decoration-color: red;
	color: grey;
	transition: 0.5s;
}


.container{
box-shadow: 0px 0px 20px 3px rgba(122,122,122,0.75);
-webkit-box-shadow: 0px 0px 20px 3px rgba(122,122,122,0.75);
-moz-box-shadow: 0px 0px 20px 3px rgba(122,122,122,0.75);
}